/* From Uiverse.io by Yaseen549 */ 
   .zoom-container {
    position: relative;
    overflow: hidden;
  }

  .zoom-container img {
    transition: transform 0.5s ease;
  }

  .zoom-container:hover img {
    transform: scale(1.2);
  }